# ----------------------
# VS Code
# ----------------------
.vscode/

# ----------------------
# C / C++ compiled files
# ----------------------
*.exe
*.out
*.o
*.obj
*.a

# ----------------------
# Node.js
# ----------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# ----------------------
# Environment files
# ----------------------
.env
.env.local
.env.*.local

# ----------------------
# Logs
# ----------------------
logs/
*.log

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Build / Dist
# ----------------------
dist/
build/

# ----------------------
# Misc
# ----------------------
*.zip
*.tar
*.gz
